/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

/* HEADER */
.header-top {
  position: sticky;
  top: 0;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  color: #7C3AED;
}

/* MENU */
.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1542751371-adc38448a05e') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.7);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.overlay h2 {
  font-size: 40px;
}

/* BOTÕES */
button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: #7C3AED;
  color: white;
}

.sec {
  background: #3B82F6;
}

/* SOBRE */
.sobre-box {
  display: flex;
  padding: 60px;
  gap: 40px;
  align-items: center;
}

.sobre-img img {
  width: 400px;
  border-radius: 10px;
}

.impacto {
  font-size: 22px;
  margin: 20px 0;
}

/* SERVIÇOS FUNDO VERDE */
.servicos-bg {
  background: url('https://images.unsplash.com/photo-1492724441997-5dc865305da7') center no-repeat;
  background-size: cover;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  display: block;
  text-decoration: none;
  color: white;
  background: rgba(0,0,0,0.75);
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #7C3AED;
}

/* CONTATO FUNDO VERDE */
.contato-bg {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1492724441997-5dc865305da7') center no-repeat;
  background-size: cover;
}

.overlay-contato {
  background: rgba(0,0,0,0.8);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato-container {
  display: flex;
  width: 80%;
  max-width: 1000px;
}

/* ESQUERDA */
.contato-info {
  flex: 1;
  background: #7C3AED;
  padding: 40px;
}

/* FORM */
.contato-form {
  flex: 1;
  background: rgba(0,0,0,0.8);
  padding: 40px;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

/* LOGIN */
.login-form {
  max-width: 300px;
  margin: 20px auto;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}